USE [Top2000]
GO
/****** Object:  Table [dbo].[YearList]    Script Date: 28-6-2020 21:29:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearList](
	[YearListId] [int] IDENTITY(1,1) NOT NULL,
	[YearListYear] [datetime] NOT NULL,
 CONSTRAINT [PK_YearList] PRIMARY KEY CLUSTERED 
(
	[YearListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
